@model IEnumerable<JogoEmprestado>
<h1>Lista de Jogos Emprestados</h1>

<a href="/JogoEmprestado/Save" class="btn btn-primary"  style="margin-top: 25px;">Adicionar Emprestimo</a>

<table class="table" style="margin-top: 50px;">
    <thead>
        <tr>
            <th>Id</th>
            <th>Data Emprestimo</th>
            <th>Jogo</th>
            <th>Amigo</th>
            <th>Devolvido?</th>
            <th> - </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        { 
        <tr>
            <td>@item.IdJogoEmprestado</td>
            <td>@item.DataEmprestimo</td>
            <td>@item.IdJogo.NomeJogo</td>
            <td>@item.IdAmigo.Nome</td>
            <td>@item.Devolvido</td>
            <td>
                <a class="btn btn-warning" href="/JogoEmprestado/Edit/@item.IdJogoEmprestado">Edit</a> |
                <a class="btn btn-danger" href="/JogoEmprestado/Delete/@item.IdJogoEmprestado">Delete</a> |
                <a class="btn btn-success" href="/JogoEmprestado/Devolucao/@item.IdJogoEmprestado">Devolução</a>
            </td>
        </tr>
        }
    </tbody>
</table>